---
title: beer 
new: [Amber, Hefe-Weiss, Joker Hard Cider]
beers: 
  - Brewery: ACE
    Beer: Joker Hard Cider
    Style: Hard Cider
    ABV: 6.90%
  - Brewery: Bear Republic
    Beer: Racer 5
    Style: IPA
    ABV: 7.00%
  - Brewery: Bear Republic
    Beer: Red Rocket
    Style: Red Ale
    ABV: 6.80%
  - Brewery: Bison
    Beer: Chocolate Stout
    Style: American Stout
    ABV: 5.00%
  - Brewery: Brunehaut
    Beer: Amber
    Style: Organic, Gluten Free
    ABV: 5.00%
    Tag: green
    
  - Brewery: Hofbräu
    Beer: Maibock
    Style: Maibock
    ABV: 7.20%
  - Brewery: Hofbräu
    Beer: Original Lager
    Style: Lager
    ABV: 5.10%
  - Brewery: Hofbräu
    Beer: Dunkel
    Style: Dunkel Lager
    ABV: 5.50%
  - Brewery: Hofbräu
    Beer: Hefe-Weiss
    Style: Wheat
    ABV: 5.10%
  - Brewery: Mad River
    Beer: Jamaica Red
    Style: American Amber
    ABV: 6.50%
  - Brewery: Marin
    Beer: Abbey Special
    Style: Dubbel Belgian
    ABV: 6.80%
  - Brewery: Moylan&#39;s
    Beer: Kilt lifter
    Style: Scotch Ale
    ABV: 8.00%
  - Brewery: Staropramen
    Beer: Lager
    Style: Pilsner
    ABV: 5.00%
  - Brewery: Schwaben
    Beer: Naturtrübe
    Style: Unfiltered Pilsner
    ABV: 5.00%
  - Brewery: St. Feuillien
    Beer: La Blanche
    Style: Belgian Wheat
    ABV: 6.20%
  - Brewery: Triple Vodoo
    Beer: Witopia
    Style: Belgian Witbier
    ABV: 5.50%
  - Brewery: Weltenburger
    Beer: Anno 1050
    Style: Marzen/Oktoberfest
    ABV: 5.50%
  - Brewery: Weltenburger
    Beer: Hefe-Weiss Hell
    Style: Hefeweizen
    ABV: 5.40%
  
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title></title>
</head>


<body>
<section id="wrapper">
<h2>BIERGARTEN 3</h2>
{% assign Beer = page %}
{% include show_beers.html %}
  <!--
  <section class="menu">
    {% for b in Beer.beers %}
    <article class="beer">
    <h4>{{b.Beer}}</h4>
      <section class="details">
        <div class="style">{{b.Style}}</div>
        <div class="misc">{{b.Brewery}}<span class="abv">{{b.ABV}}</span></div>
      </section>
    </article>
    {% endfor %}
  </section>
  -->
</section>
</body>

</html>
