---
title: Home
---
<!doctype html>
<html lang="en" ng-app>
  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Biergarten Steakout</title>
      <meta name="description" content="Whole menu for beer garden and burger house in Mountainview, CA">
      <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0">
      <link rel="stylesheet" href="style.css">
      <style type="text/css">
      input{
        margin:0;
        padding:0;
        font-size:1em;
        border:none;
        background-color:none;
      }
      .misc input{
        max-width:5em;
      }
      input.abv{
        max-width:3em;
      }
      </style>
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

  <div id="wrapper">  
    
    <div id="masthead" role="header">
          <div class="date">
            <div class="month">{{site.time | date: "%b"}}</div>
            <div class="day">{{site.time | date: "%d"}}</div>
          </div>
          <div id="sidebar">
            <ul>
            <li><a href="mailto:info@steakout.us?subject=Not%20Entirely%20Satisfied">info@<br>steakout.us</a></li>
            <li><a href="">383 Castro Street<br>Mountain View, CA<br>94041</a></li>
            <li><a href="tel:1-659-209-0383">(659)209-0383<br>message only</a></li>
            <li>goto <strong><a href="#beer-menu">new</a></strong></li>
            </ul> 
          </div>
          <h1>Menu of Biergarten Steakout</h1>
          {% assign first = site.posts[0] %}
          <div class="post" role="article">
            <h4>{{first.title}}</h4>
                <p>{{first.content}}<p>
          </div>
        
          <div id="about" class="post" role="article">
              <h4>About</h4>
              <p>{% include about.txt %}</p>
            </div>
            
          <div id="hours" class="post" role="article">
              <h4>Hours</h4>
              <p>{% include hours.txt %}</p>
            </div>
    </div>
    
    <hr class="clear">
  
    {% for p in site.pages %}
      {% if p.title == 'beer' %}
        {% assign Beer = p %}
      {% elsif p.title == 'grill' %}
        {% assign Grill = p %}
      {% endif %}
    {% endfor %}

    <div id="menus">
      <div id="beer-menu">
        <h2>Beer Garden Menu</h2>
        
        <div class="beer-item" id="byob">
        <h4>
          <input type="text" ng-model="beerName" placeholder="Brew your own beer" size="19">
        </h4>
          <div class="details">
            <div class="style">
              <input type="text" ng-model="beerStyle" placeholder="Style">
            </div>
            <div class="misc">
              <input type="text" ng-model="beerBrewery" placeholder="Brewery" size:"5">
              <input class="abv" type="text" ng-model="beerABV" placeholder="ABV" size:"5">
            </div>
          </div>
        </div>
        {% raw %}
        <div class="beer-item" ng-show="beerName">
        <h4>
          {{beerName}}
            <strong id="new" class="new">new</strong>
        </h4>
          <div class="details">
            <div class="style">{{beerStyle}}</div>
            <div class="misc">{{beerBrewery}}<span class="abv">{{beerABV}}</span></div>
          </div>
        </div>
        {% endraw %}
        
          {% include show_beers.html %}
      </div>
        <hr class="clear">
        <div id="grill-menu">  
          <h2>Grill House Menu</h2>
            {% include show_grills.html %}
        </div>
      <hr class="clear">
      <div id="menus">





  </div>

      <script>
          var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src='//www.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
      </script>
    </body>
</html>