doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    
    title Steakout | Grass Fed Grill &amp; Beer Garden
    meta(name="description", content="Steakout is half beer garden serving 18 beers on draught with gluten free options, half grass-fed beef and lamb grill. Our 120 german-imported benches sit at 383 Castro Street in Mountain View, California")
    meta(name="keywords", content="gluten free, grass-fed, sausages, beef, lamb, local, beer garden")
    meta(name="author", content="pspEgg.co")
    
    link(rel="stylesheet", href="style.css")
  
  body
    header#masthead
      aside#logo 
        //include _logo_svg.html
        img(src="logo.png")
      h1 Steakout
    section#content
      article#highlights
      section#info
      article#updates
      section#menu
    footer hey look at me!
    
   