---
title: Menu

---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Steakout | Grill</title>
</head>
<body>

<h1>Biergarten Steakout</h1>
<section id="wrapper">

<!--
NEW Beer
 - info
NEW Beer 
- info
NEW Beer 
- info
GLUTEN FREE Beer
- info -
VEGIE BURGER
- info -

=MENU STARTS=
-->
{% assign Beer = site.pages[0] %}
{% assign Grill = site.pages[1] %}

  <section class="featured">
  </section>
  <section class="info">
  </section>

    {% include show_beers.html %}
      <hr class="clear">
    {% include show_grills.html %}






</section>
</body>

</html>