body{
font-size:13px;
font-family: verdana;
width:100%;
margin:0;
padding:0;
color: #eee;
background-color: #333
}
article, section{
margin:0;
padding:0;
}
.menu{
max-width:1100px;
width:100%;
margin:0 auto;
}
h1,h2,h3,h4,h5,h6{
font-family: Gill Sans;
font-weight: 800;
}
h2{
letter-spacing: -0.065em;
text-align:center;
color:#222;
background-color:#eee;
}
h3{
font-size:1.3em;
margin: 0.8em 0;
text-align: center;
}
/*H4_burger_sausage_etc*/
h4{
margin:1em 0 0.2em 0;
}
h4 .price{
font-weight:400;
display: inline-block;
float:right;
margin:0;
}
h4 .price span{
margin-left: 0.5em;
}
/*P_menu*/
.menu p{
clear: both;
margin: 0 0 1em 0.5em;
}
ol,
ul {
    padding: 0 0 0 40px;
}
.details{
font-size:80%
}

/* Layout */
.menu{
max-width:1100px;
margin:0 auto;
}
.menu{
  width:100%;
  margin:0 auto;
  position: relative;
}
article.grill{
float:left;
width:46%;
margin:0 2% 2em 2%;
}
article.beer{
float:left;
width: 23%;
margin:0 1% 1em 1%;
}
.clear{
clear:both;
width:100%;
visibility: hidden;
}
/* fontSize up */
@media only screen and (min-width: 750px){
  body{
  font-size: 16px;
  }
}
/* 3 column beers, iphone 4 landsacpe */
@media only screen and (max-width: 650px){
  article.beer{
  float:left;
  width:30.5%;
  margin:0 1% 1em 1%;
  }
}
/* Narrow Screen, Say iPhone in Portrait */
@media only screen and (max-width: 470px){
  article.grill{
  float:none;
  width:95%;
  margin:0 auto 1em auto;
  }
}
@media only screen and (max-width: 450px){
  article.beer{
  float:left;
  width:48%;
  margin:0 1% 1em 1%;
  }
}

