---

---

$red:#c61a1a;
$cyan:#91c9fd;
$blue:#4ba9ff;
$gree:#368760;

html{
   font-size:16px;
}
body{
  font-size:0.8125em;
  font-family: verdana, sans-serif;
  width:100%;
  margin:0;
  padding:0;
  color: #333;
  background-color: #fff;
  /*
  color: #eee;
  background-color:#333;
  */
  border-top:0.5em solid $cyan;
}
/* WRAPPER */
#wrapper{
  max-width:1100px;
  width:99.5%;
  margin:0.5em auto 0 auto;
}
/* Elements of Style*/
h2{
}
h1,h2,h3,h4,h5,h6{
font-family: Gill Sans, helvetica;
font-weight: 800;
}
#masthead h1 {
  font-family:baskerville, serif;
  color:#eee;
  padding:0.2em 0.5em;
  background-color:$blue;
  font-size:1.5em;
  margin:0;
  margin-top:0;
  width:35%;
  text-transform:uppercase;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; /* future proofing */
  -khtml-border-radius: 3px; /* for old Konqueror browsers */
}
h2{
  font-size:2em;
  letter-spacing: -0.065em;
  text-align:center;
}
h3{
font-size:1.3em;
margin: 0.8em 0;
text-align: center;
}
ul, ol{
  padding:0;
  margin:0 0 0 0;
}
ul{
  list-style: square outside none;
}
li{
  margin-bottom:0.8em;
}
ul, ol, p{
  margin: 0.7em 0 0 0;
}
a{
  color: inherit;
}
a:hover{
  color: $cyan;
}
strong, .new{
  color: #eee;
  padding:0 0.2em;
  background-color:$blue;
  text-transform:uppercase;
  font-weight:800;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; /* future proofing */
  -khtml-border-radius: 3px; /* for old Konqueror browsers */
}
#menus .new{
  font-size:0.65em;
  position:relative;
  bottom:0.4em;
}
strong a:hover{
  color:#fff;
}
.new{
  padding:0.1em 0.2em;
  margin:0 0;
}
.green{
  color:$blue;
}
.favorite{
  color:maroon;
}
.date{
  text-align:center;
  width:3.5em;
  padding:0.2em 0.3em;
  margin:0.3em 1em 0em 0;
  float:left;
  background-color:#368760;
  color:#eee;
  font-weight:800;
  text-transform:uppercase;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; /* future proofing */
  -khtml-border-radius: 3px; /* for old Konqueror browsers */
}
.day{
  font-size:1.7em;
}
/* item-title */
h4{
  margin:1em 0 0.2em 0;
  position:relative;
}
h4 .price, .abv{
  font-weight:400;
  display: inline-block;
  position:absolute;
  right:0;
  margin:0;
}
h4 .price span{
  margin-left: 0.5em;
}
/* beers */
.beer-item .style{
  margin-left: 0.5em;
}
.beer-item div{
  margin-top: 0.5em;
  position:relative;
}
.grill-category p{
  clear: both;
  margin: 0 0 1em 0.5em;
}
.details{
  font-size:80%
}
/* Layout */
/* Masthead 2 Col*/
#masthead{
  width:96%;
  margin:0 2% 2em 2%;
  float:left;
}
#sidebar{
  word-wrap:break-word;
  max-width:33%;
  margin:0 0 0 2em;
  float:right;
}
#site-title{
  margin-top:0;
}
/* THE MENUS */
.grill-category{
  float:left;
  width:45.5%; /*46%*/
  margin:0 2% 2em 2%;
}
.beer-item{
  float:left;
  width: 20.5%; /*technically 21, but for ielt7*/
  margin:0 2% 1em 2%;
  white-space: nowrap;
}
.clear{
  clear:both;
  width:100%;
  visibility: hidden;
}
    /* SUPER */
    /*
    @media only screen and (min-width:1500px){
      #wrapper{
        max-width:100%;    
      }
      #menus{
        position:relative;
      }
      #beer-menu{
        margin-left:2%;
        width:48%;
        position:absolute;
        left:0;
      }
      #grill-menu{
        margin-right:2%;
        width:45%;
        position:absolute;
        right:0;
      }
    }
    */
    
/* fontSize up */
@media only screen and (min-width: 750px){
  body{
  font-size: 1em;
  }
}
/* 3 column beers, iphone 4 landsacpe */
@media only screen and (max-width: 650px){
    html{
      -webkit-text-size-adjust: none;
    }
  .beer-item{
    width:29%; /* 29.3% */
    margin:0 2% 1em 2%;
    }
}
/* Narrow Screen, Say iPhone in Portrait */
@media only screen and (max-width: 470px){
  .grill-category{
  float:none;
  width:95%;
  margin:0 auto 1em auto;
  }
  #masthead h4, #masthead p{
    font-size:1em;
    display:inline;
    margin-right:0.5em;
  }
  #masthead .post{
    margin-top:0.8em;
  }
  #masthead h1{
    font-size:1.2em;
  }
}
@media only screen and (max-width: 450px){
  .beer-item{
  width:45.5%; /* 46% */
  margin:0 2% 1em 2%;
  }
}

