include index_front.html
doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    
    title Biergarten Steakout | Grass Fed Grill &amp; Beer Garden
    meta(name="description", content="Steakout is half beer garden serving 18 beers on draught with gluten free options, half grass-fed beef and lamb grill. Our 120 german-imported benches sit at 383 Castro Street in Mountain View, California")
    meta(name="keywords", content="gluten free, grass-fed, sausages, beef, lamb, local, beer garden")
    meta(name="author", content="pspEgg.co")
    
    link(rel="stylesheet", href="style.css")
  
  body
    header#masthead
      aside#logo 
        //include _logo_svg.html
        img(src="logo.png")
      h1 Biergarten Steakout
      
    section#content
      section#highlights
        
      section#info
        
      section#menu
        #grill
         
        #beer
        h2 Beer Menu
        ul
          {% for menu in site.pages %}
          {% for beer in menu.beers %}
          li {{beer.Beer}}
          {% endfor %}
          {% endfor %}
        #wine 
      
        footer 
    
   