doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    title Biergarten Steakout | Grass Fed Grill &amp; Beer Garden
    link(rel="stylesheet", href="style.css")
  
  body
    header#masthead
      h1 BIERGARTEN STEAKOUT
    section#content
      section#news
          
      section#info
        
        
      section#beer
        h2
        ul
          li Racer 15
            span Bear Republic Gluten Free 8.00%
      section#grill
        h2 
        h3
        ul
          li eXperience
             span $7.25 
   