$r: rgb(164,50,26);
$g: rgb(146,154,0);

@import "_reset.scss";

body{
  font-family:gill sans;
  font-size:18px;
  padding:0 5%;
}

#masthead{
  
}

h1,h2,h3,h4{
  text-align: center;
  font-family: baskerville;
  font-weight:800;
  font-size:150%;
}

ul{
  list-style:none;
  border-left:0.5em solid $g;
}

.r {
  color:white;
  background-color:$r;
  padding:0.3em 0.3em;
}//Table Sign


