    {% for b in Beer.beers %}
    <div class="beer-item">
    <h4>
          {{b.Beer}}
          {% for isnew in Beer.new %}
            {% if b.Beer == isnew %}
            <strong id="new" class="new">new</strong>
            {% endif %}
          {% endfor %}
    </h4>
      <div class="details">
        <div class="style">
          {% if b.Tag != null %}
           <span class="{{b.Tag}}">✚</span>
          {% else %}
          {% endif %}
          {{b.Style}}
        </div>
        <div class="misc">{{b.Brewery}}<span class="abv">{{b.ABV}}</span></div>
      </div>
    </div>
    {% endfor %}
  </div>